asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1617745359837/work
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
boto3 @ file:///tmp/build/80754af9/boto3_1623678999017/work
botocore @ file:///tmp/build/80754af9/botocore_1623784183042/work
brotlipy==0.7.0
certifi==2021.5.30
cffi @ file:///tmp/build/80754af9/cffi_1613246945912/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1621503718520/work
cryptography @ file:///tmp/build/80754af9/cryptography_1616769286105/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1623242158257/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1609518832927/work
idna @ file:///tmp/build/80754af9/idna_1622654382723/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
jmespath @ file:///tmp/build/80754af9/jmespath_1594304593830/work
more-itertools @ file:///tmp/build/80754af9/more-itertools_1622818384463/work
packaging @ file:///tmp/build/80754af9/packaging_1611952188834/work
pluggy @ file:///tmp/build/80754af9/pluggy_1615976321666/work
py @ file:///tmp/build/80754af9/py_1607971587848/work
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1620819961022/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
pytest==6.2.4
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
s3transfer @ file:///tmp/build/80754af9/s3transfer_1623278116614/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1612371539619/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1615837158687/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn_1622576283010/work
